.nav {
    padding-left: 0px;
}

.nav__list {
    text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
}

.nav__paragraph {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}