.body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    max-width: 7000px;
    margin: 0 auto;
    padding: 25px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.caption {
    margin: 20px;
    caption-side: center;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(22, 38, 223, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(22, 38, 223, 1);
    box-shadow: 8px 8px 24px 0px rgba(22, 38, 223, 1);
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
}

.aside {
    width: 1000px;
    background: rgb(142, 230, 236);
    padding: 30px;
    border: 2px outset rgb(168, 16, 143);
}

.footer {
    margin: 200px;
    margin-bottom: 10px;
    text-align: center;
}

.dark {
    color: rgb(0, 4, 7);
    background: rgb(235, 43, 161);
}

.body__header {
    text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
}


.list__item {
    list-style-type: none;
}

.img {
    position: center;
}